<div class="FirstView">
  <section class="container">
        <h2 class="FirstView__title">
        Hotel Harmonyで<br>
        新たな旅の調べに出会う、<br>
        心地よいハーモニー
        </h2>
  </section>

  
</div>
