<!-- app/views/reservations/index.html.erb -->

<h1>予約一覧</h1>

<table>
  <thead>
    <tr>
      <th>予約ID</th>
      <th>ユーザーID</th>
      <th>部屋ID</th>
      <!-- 他の必要なカラムを追加 -->
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.room_id %></td>
        <!-- 他の必要なカラムを追加 -->
        <td><%= link_to '詳細', reservation_path(reservation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
