<!-- app/views/reservations/show.html.erb -->

<% if @reservation.present? %>
  <!-- 予約が存在する場合の表示 -->
  <p>予約が確定しました！</p>
  <h3>チェックイン日: <%= @reservation.start_date %></h3>
  <h3>チェックアウト日: <%= @reservation.end_date %></h3>
  <h3>滞在日数: <%= @reservation.stay_duration %> 泊</h3>
  <h3>人数: <%= @reservation.number_of_people %></h3>
<% else %>
  <!-- 予約が存在しない場合の表示 -->
  <p>予約が見つかりませんでした。</p>
<% end %>
